.ds-tokens {
  @import './tokens/colors.css';
  @import './tokens/spacing.css';
  @import './tokens/typography.css';
  @import './tokens/border-width.css';
  @import './tokens/radius.css';
  @import './tokens/z-index.css';
  @import './tokens/elevation.css';
  @import './tokens/motion.css';
  @import './tokens/opacity.css';
  @import './tokens/blur.css';
  @import './tokens/ratios.css';
  @import './tokens/layout-sizes.css';
}

ds-base {
  @import './base/reset.css';
  @import './base/typography.css';
}

.ds-components {
  @import './components/layout/header.css';
  @import './components/layout/sidebar.css';
  @import './components/layout/navbar.css';
  @import './components/layout/footer.css';
  @import './components/layout/page-margin.css';
  @import './components/actions/button.css';
  @import './components/actions/icon-button.css';
  @import './components/feedback/alert.css';
  @import './components/feedback/toast.css';
  @import './components/content/card.css';
  @import './components/forms/input.css';
}

.ds-utilities {
  @import './utilities/animations.css';
  @import './utilities/display-utility.css';
  @import './utilities/z-index-utility.css';
  @import './utilities/state-utility.css';
  @import './utilities/opacity-utility.css';
}