/* ============================================================
   ICONS ATOM (Utility System)
   ============================================================ */

/* 1. The Base Logic */
.icon {
  display: inline-block;
  width: 1.25rem;  /* 20px */
  height: 1.25rem;
  background-color: currentColor; /* Inherits text color */
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  -webkit-mask-size: contain;
  vertical-align: middle;
}

/* 2. Sizing Scale */
.icon--xs { width: 0.75rem; height: 0.75rem; }
.icon--sm { width: 1rem; height: 1rem; }
.icon--lg { width: 1.5rem; height: 1.5rem; }
.icon--xl { width: 2rem; height: 2rem; }

/* 3. The Icon Library (Mapped to your src/assets/icons/) */

.icon--check {
  mask-image: url('../../assets/icons/check.svg');
  -webkit-mask-image: url('../../assets/icons/check.svg');
}

.icon--chevron-left {
  mask-image: url('../../assets/icons/chevron-left.svg');
  -webkit-mask-image: url('../../assets/icons/chevron-left.svg');
}

.icon--chevron-right {
  mask-image: url('../../assets/icons/chevron-right.svg');
  -webkit-mask-image: url('../../assets/icons/chevron-right.svg');
}

.icon--chevron-circle {
  mask-image: url('../../assets/icons/chevron-circle.svg');
  -webkit-mask-image: url('../../assets/icons/chevron-circle.svg');
}

.icon--search {
  mask-image: url('../../assets/icons/search.svg');
  -webkit-mask-image: url('../../assets/icons/search.svg');
}

.icon--alert {
  mask-image: url('../../assets/icons/alert.svg');
  -webkit-mask-image: url('../../assets/icons/alert.svg');
}

/* 4. Functional Animations */
.icon--spin {
  animation: icon-spin 1s linear infinite;
}

@keyframes icon-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}