.alert--global {
  /* Styles for global alert */
}

.alert--fixed-top {
  /* Styles for fixed top alert */
}

.alert--fixed-bottom {
  /* Styles for fixed bottom alert */
}

.alert--container {
  /* Styles for alert container */
}

.alert--black {
  /* Styles for black alert */
}

.alert--accent {
  /* Styles for accent alert */
}

.alert--white {
  /* Styles for white alert */
}

.alert--gray {
  /* Styles for gray alert */
}