/* ============================
   BACKGROUND UTILITIES
   ============================ */

.bg-white {
  background-color: var(--color-white);
}

.bg-black {
  background-color: var(--color-black);
}

.bg-dark {
  background-color: var(--color-dark);
}

.bg-gray {
  background-color: var(--color-gray);
}

.bg-light-gray {
  background-color: var(--color-light-gray);
}


