:root {
  /* Border widths */
  --border-width-1: 1px;
  --border-width-2: 2px;

  /* Border styles */
  --border-style-solid: solid;
  --border-style-dashed: dashed;

  /* Border colors */
  --border-color-default: var(--gray-300);
  --border-color-strong: var(--gray-500);
}
