:root {
  /* Container Widths */
  --size-max-xs: 20rem;
  --size-max-s:  24rem;
  --size-max-m:  28rem;
  --size-max-l:  32rem;
  --size-max-xl: 36rem;

  /* You could also add standard widths here if you use them often */
  --size-sidebar: 250px;
  --size-header-height: 4rem;
}